/* Right sidebar acts as main post */
.right-blog {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}

/* Show image in sidebar post */
.blog-right-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 15px;
}

/* Add date on top of sidebar post */
.blog-right-container .date {
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
}

/* Make right sidebar full width on small screens */
@media screen and (max-width: 768px) {
  .right-blog {
    display: flex;
    width: 100%;
    padding: 20px;
    border-right: none;
  }
}
